html,
body {
  background-color: #fafafa;
}

table {
  border: 2px solid #000000;
}

td {
  border: 1px solid #000000;
  text-align: center;
  vertical-align: middle;
}

input {
  color: #000000;
  padding: 0;
  border: 0;
  text-align: center;
  width: 48px;
  height: 48px;
  font-size: 24px;
  background-color: #ffffff;
  outline: none;
}

input:disabled {
  background-color: #eeeeee;
}

#solve {
  color: black;
  margin: 15px 0px;
  border-radius: 6px;
  border: 1.5px solid black;
  background-color: #2f7ff7;
  font-size: 18px;
  padding: 6px 12px;
  transition-duration: 0.4s;
  margin-right: 8px;
}

#solve:hover {
  background-color: #185ec7;
  cursor: pointer;
}

#message {
  color: rgb(194, 28, 28);
  font-size: 18px;
  font-weight: bold;
}

#reset {
  color: black;
  margin: 15px 0px;
  border-radius: 6px;
  border: 1.5px solid black;
  background-color: #0d742c;
  font-size: 18px;
  padding: 6px 12px;
  transition-duration: 0.4s;
}

#reset:hover {
  background-color: #15c324;
  cursor: pointer;
}

#cell-0,
#cell-1,
#cell-2 {
  border-top: 2px solid #000000;
}
#cell-2,
#cell-11,
#cell-20 {
  border-right: 2px solid #000000;
}
#cell-18,
#cell-19,
#cell-20 {
  border-bottom: 2px solid #000000;
}
#cell-0,
#cell-9,
#cell-18 {
  border-left: 2px solid #000000;
}

#cell-3,
#cell-4,
#cell-5 {
  border-top: 2px solid #000000;
}
#cell-5,
#cell-14,
#cell-23 {
  border-right: 2px solid #000000;
}
#cell-21,
#cell-22,
#cell-23 {
  border-bottom: 2px solid #000000;
}
#cell-3,
#cell-12,
#cell-21 {
  border-left: 2px solid #000000;
}

#cell-6,
#cell-7,
#cell-8 {
  border-top: 2px solid #000000;
}
#cell-8,
#cell-17,
#cell-26 {
  border-right: 2px solid #000000;
}
#cell-24,
#cell-25,
#cell-26 {
  border-bottom: 2px solid #000000;
}
#cell-6,
#cell-15,
#cell-24 {
  border-left: 2px solid #000000;
}

#cell-27,
#cell-28,
#cell-29 {
  border-top: 2px solid #000000;
}
#cell-29,
#cell-38,
#cell-47 {
  border-right: 2px solid #000000;
}
#cell-45,
#cell-46,
#cell-47 {
  border-bottom: 2px solid #000000;
}
#cell-27,
#cell-36,
#cell-45 {
  border-left: 2px solid #000000;
}

#cell-30,
#cell-31,
#cell-32 {
  border-top: 2px solid #000000;
}
#cell-32,
#cell-41,
#cell-50 {
  border-right: 2px solid #000000;
}
#cell-48,
#cell-49,
#cell-50 {
  border-bottom: 2px solid #000000;
}
#cell-30,
#cell-39,
#cell-48 {
  border-left: 2px solid #000000;
}

#cell-33,
#cell-34,
#cell-35 {
  border-top: 2px solid #000000;
}
#cell-35,
#cell-44,
#cell-53 {
  border-right: 2px solid #000000;
}
#cell-51,
#cell-52,
#cell-53 {
  border-bottom: 2px solid #000000;
}
#cell-33,
#cell-42,
#cell-51 {
  border-left: 2px solid #000000;
}

#cell-54,
#cell-55,
#cell-56 {
  border-top: 2px solid #000000;
}
#cell-56,
#cell-65,
#cell-74 {
  border-right: 2px solid #000000;
}
#cell-72,
#cell-73,
#cell-74 {
  border-bottom: 2px solid #000000;
}
#cell-54,
#cell-63,
#cell-72 {
  border-left: 2px solid #000000;
}

#cell-57,
#cell-58,
#cell-59 {
  border-top: 2px solid #000000;
}
#cell-59,
#cell-68,
#cell-77 {
  border-right: 2px solid #000000;
}
#cell-75,
#cell-76,
#cell-77 {
  border-bottom: 2px solid #000000;
}
#cell-57,
#cell-66,
#cell-75 {
  border-left: 2px solid #000000;
}

#cell-60,
#cell-61,
#cell-62 {
  border-top: 2px solid #000000;
}
#cell-62,
#cell-71,
#cell-80 {
  border-right: 2px solid #000000;
}
#cell-78,
#cell-79,
#cell-80 {
  border-bottom: 2px solid #000000;
}
#cell-60,
#cell-69,
#cell-78 {
  border-left: 2px solid #000000;
}
.button {
  position: absolute;
  padding: 10px 22px;
  border-radius: 6px;
  border: none;
  color: #fff;
  cursor: pointer;
  background-color: #7d2ae8;
  transition: all 0.2s ease;
  top: 10px;
  left: 10px;
  
}
.button:active {
  transform: scale(0.96);
}
.button:before,
.button:after {
  position: absolute;
  content: "";
  width: 150%;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
  z-index: -1000;
  background-repeat: no-repeat;
}
.button.animate::before {
  top: -70%;
  background-image: radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, #7d2ae8 20%, transparent 30%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #7d2ae8 15%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
    10% 10%, 18% 18%;
  animation: greentopBubbles ease-in-out 0.6s forwards infinite;
}
@keyframes greentopBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
      40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
      50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
      50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
.button.animate::after {
  bottom: -70%;
  background-image: radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #7d2ae8 15%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
  animation: greenbottomBubbles ease-in-out 0.6s forwards infinite;
}
@keyframes greenbottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
      70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
      105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
      110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

