* {
  box-sizing:border-box;
}
body {
  margin:0px;
  overflow:hidden;
}
#mobileDisplay {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:270px;
  height:400px;
  border:10px solid rgb(150,150,100);
  border-radius:10px;
  overflow:hidden;
}
.set {
  width:100%;
  position:fixed;
}
.set.hide {
  display:none;
}
.set div{
  content:' ';
  float:left;
  height:100%;
  background:#f7f7f7;
  border:0.08em groove rgb(80,80,80);
  border-right:none;
  border-top:none;
}
.set div.black {
  background:black;
}
.set div.red {
  animation: over 0.4s linear 6;
  transition: all 0.5s ease;
}
.prev .black {
  background:rgb(200,200,200);
}
#timer {
  position: fixed;
  top: 0px;
  width: 1px;
  height: 6px;
  background: #00acee;
  z-index: 100;
  border-radius:2px;
  transition:all 0.3s linear;
}
#score {
  position: fixed;
  top: 22px;
  width: 100%;
  text-align: center;
  color:tomato;
  font-size: 32px;

  font-weight: 600;
  z-index: 100;
  transition:all 0.2s linear;
}
@keyframes over {
  from {
    background: #f7f7f7;
  }
  to {
    background: tomato;
  }
}