*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
   display:flex ;
   align-items:center;
   justify-content: center;
   min-height: 100vh;
   background :  rgb(0,10,36);
   background: linear-gradient(90deg, rgba(0,10,36,1) 0%, rgba(72,50,179,1) 0%, rgba(209,134,206,1) 71%);;
}
.wrapper{
    width:430px;
    background: #fff;
    border-radius:10px;

}
.wrapper h1{
    font-size:25px;
    font-weight:500;
    padding:20px 25px;
    border: 1px solid #ccc;
    border-bottom:1px solid #ccc;
}
.wrapper .content{ 
    margin:25px 25px 35px;
}
.content .typing-input{
   z-index:-999;
   opacity: 0;
   position:absolute;
}
 .tip{
   
    position:fixed;
    text-align: center;
    color:black;
    background-color:#fff;
    border-radius: 10px;
    padding:7px;
    height:30px;
    width:400px;
    font-size:13px;
    font-family: sans-serif;
    margin-top: 500px;
    border: solid 2px #922ff4;
    transition: background-color 0.3s ease;



}
.tip:hover{
    color: blue;
    box-shadow: 8px 4px 8px rgba(10, 6, 6, 0.1);
}


.content .inputs{
    display:flex;
    flex-wrap:wrap;
    justify-content:center ;

}
.inputs input{
    height:57px;
    width:56px;
    margin:4px;
    font-size:24px;
    font-weight: 500;
    background: none;
    text-align:center;
    text-transform: uppercase;
    color: rgba(209,134,206,1);
    border-radius:1px solid #b5b5b5;
}
.inputs input:first-child{
    margin-left:0;

}
.content .details{
    margin:20px 0 25px;
}
.details p{
    font-size:19px;
    margin-bottom:10px;
}
.content .reset-Btn{
    width:100%;
    padding:15px 0;
    border:none;
    outline:none;
    border-radius: 5px;
    font-size: 18px;
    color:#fff;
    cursor:pointer;

    background:rgb(206,41,228);
}
