body {
  background-color: rgb(252, 186, 3);
  height: fit-content;
  margin: auto;
}
html {
  display: grid;
  min-height: 100%;
}
js-result{
  width: fit-content;
  margin: auto;
}
canvas {
  width: fit-content;
  margin: auto;
  display: block;
  border-style: solid;
  border-radius: 15px;
  box-shadow: 0px 5px 18px 10px rgb(128,115,82);
  padding: 15px;
}
