html {
  font-size: 13px;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 10px;
  padding: 20px;
  font-family: sans-serif;
  display: flex;
  min-height: 108vh;
  align-items: center;

  background-image: url('https://cdn.pixabay.com/photo/2016/12/29/18/44/background-1939128_1280.jpg');
}

.engine {
  padding: 2rem;
  width: 50rem;
  margin: 0 auto;
  border-radius: 4rem;
  position: relative;
  background: rgb(2,0,36);
background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(14,31,85,1) 31%, rgba(62,54,223,1) 100%);
  overflow: hidden;
  z-index: 1;
  box-shadow: 0 0 5px 5px rgba(0,0,0,0.1);
}

h1 {
  position: relative;
  width: 1440px;
  height: 80px;
  margin: 0;
  padding: 0;
  width: calc(100% + 4rem);
  margin: -2rem 0 2rem -2rem;
  padding: .5rem;
  background: #ffc600;
  border-bottom: 5px solid #F3C010;
  text-align: center;
  font-size: 5rem;
  font-weight: 100;
  font-family: 'Pacifico', cursive;
  text-shadow: 3px 3px 0 #F3C010;
}

.engine input,
.engine button,
.engine select,
.engine textarea {
  width: 100%;
  display: block;
  margin: 2px;
  padding: 10px;
  border: 0;
  font-size: 2rem;
  color: black;
  background: #ffffff;
  outline: 0;
}

textarea {
  height: 20rem;
position: relative;
width: 423px;
height: 222px;
  background: #F178B6;
  mix-blend-mode: normal;
}

input[type="select"] {

}

.music{
  position: absolute;
width: 592px;
top: 224px;
left: 400px;
height: 288px;
z-index: 100;
}
#bars {

    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black; 
}

.bar {
    background: #ff0000;
    bottom: 1px;
    height: 3px;
    width: 13px;
    margin: 0px 4px;
    border-radius: 5px;
    animation: sound 0ms -600ms linear infinite alternate;
}

@keyframes sound {
    0% {
       opacity: .35;
        height: 3px; 
    }
    100% {
        opacity: 1;       
        height: 70px;        
    }
}

.bar:nth-child(1)  { left: 1px; animation-duration: 474ms; }
.bar:nth-child(2)  { left: 15px; animation-duration: 433ms; }
.bar:nth-child(3)  { left: 29px; animation-duration: 407ms; }
.bar:nth-child(4)  { left: 43px; animation-duration: 458ms; }
.bar:nth-child(5)  { left: 57px; animation-duration: 400ms; }
.bar:nth-child(6)  { left: 71px; animation-duration: 427ms; }
.bar:nth-child(7)  { left: 85px; animation-duration: 441ms; }
.bar:nth-child(8)  { left: 99px; animation-duration: 419ms; }
.bar:nth-child(9)  { left: 113px; animation-duration: 487ms; }
.bar:nth-child(10) { left: 127px; animation-duration: 442ms; }
.engine button {
  background: #ffc600;
  width: 48%;
  float: left;
  font-family: 'Pacifico', cursive;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 9px;
  font-size: 2rem;
  border-bottom: 3px solid #F3C010;
  cursor: pointer;
  position: relative;
}

.engine button:active {
  top: 2px;
}

.engine button:nth-of-type(1) {
  margin-right: 1.5%;
}

.page-footer {
  text-align: right;
  font-size: 1rem;
  color: var(--text_light);
  margin-top: 40px;
  z-index: 150;
}

.page-footer span {
  color: var(--red);
}